<%= form_for(@scratchpad) do |f| %>
  <% if @scratchpad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@scratchpad.errors.count, "error") %> prohibited this scratchpad from being saved:</h2>

      <ul>
      <% @scratchpad.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="checkbox">
    <label>
      <%= f.check_box :active %> Active
    </label>
  </div>
  <div class="field">
    <%= f.label :starts_at %><br>
    <%= f.datetime_select :starts_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
